* {
    box-sizing: border-box;
}

ul {
   list-style-type: none; 
   text-decoration: none;
}

.headen {
    display: none;
}

.container {
    max-width: 1170px;
    margin: auto auto;
}

.btn {
    display: flex;
    width: 180px;
    height: 45px;
    padding: 20px 13px 20px 13px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #fc0404;
    border: 1px solid #fc0404;

}

@font-face {
    font-family: regular;
    src: url(/fonts/Poppins-Medium.ttf);
}

.h,
.hs {
    font-size: 25px;
}

.header {
    margin: 0;
}


/* nav */

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
}

.header__text-logo {
    margin-left: 13px;
}

.header__list {
    display: flex;
    margin-left: 315px;
}

.header__item:not(:last-child) {
    margin-right: 25px;
    white-space: nowrap;
}

.header__button {
    margin-left: 30px;
}

.header__desc {
    white-space: nowrap;
}


/* freedom */

.freedom {
    display: flex;
}

.freedom__left {
    display: flex;
    flex-direction: column;
    padding: 100px 50px 40px 55px;
    justify-content: space-between;

    
}

/* our */

.our {
    display: flex;
    padding-top: 50px;
}

.our__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 120px 80px 120px 80px;
}


.stand {
    display: flex;
    margin-top: 50px;

}

.stand__left {
    margin: auto auto;
    padding-right: 90px;
}

.stand__button {
    margin-top: 30px;
}


/* user */

.user {
    display: flex;
}


/* peoples */

.peoples {
    margin-top: 100px;
}

.peoples__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.peoples__item{
    align-items: center;
    justify-content: center;
}

.peoples__item:not(:nth-child(3n)){
    margin-right: 40px;
}

.peoples__item:nth-child(n+4){
    margin-top: 85px;
}

.peoples__name{
    align-self: center;
}

.peoples__heading {
    display: flex;
    justify-content: center;
}

/* trust */

.trust {
    margin-top: 122px;
}

.trust__top{
    display: flex;
    justify-content: space-between;
}

.trust__adress{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin: auto;
}

.sse {
    margin-top: 19px;
}

.trust__left {
    display: flex;
    align-items: center;
}

.trust__heading {
    margin-left: 5px;
}

.trust__right {
    display: flex;
    flex-direction: column;
}

.trust__line{
    width: 776px;
    height: 4px;
    background-color: black;
    margin: auto;
    margin-top: 25px;
}


.trust__down {
    margin-top: 45px;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}
/* nav */

.nav {
    display: flex;
    margin-top: 122px;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

.footer__left {
    display: flex;
}

.footer__list {
    display: flex;
}

.trust__dleft {
    display: flex;
    align-items: center;
}

.footer__item:not(:last-child) {
    margin-right: 55px;
}

.footer__img {
    margin: auto;
}

.footer__text-logo {
    margin-left: 22px;
    margin-right: 22px;
}
