* {
    box-sizing: border-box;
    font-family: regular;
}

@font-face {
    font-family: "regular";
    src: url(/fonts/noto-sans-display-regular.woff);
}

@font-face {
    font-family: "btn";
    src: url(/fonts/noto-sans-display-semibold.woff);
}

body {
	font-family: "regular";
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.2;
	color: #000;
	background-color: #fff;
}

ul {
   list-style-type: none; 
   text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.headen {
    display: none;
}

.container {
    max-width: 1170px;
    margin: auto auto;
}

.btn {
    display: flex;
    min-width: 180px;
    min-height: 45px;
    max-width: max-content;
    max-height: max-content;
    padding: 20px 13px 20px 13px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #fc0404;
    border: 1px solid #fc0404;
    font-family: "btn";
    font-size: large;
    border-radius: 3px;

}

.btn:hover {
    /* color: #fc0404;
    background-color: aliceblue;
    border-color:aliceblue; */
    opacity: .4;
}

.btn:active {
    transform: translateY(3px);
    transition: .2 ease-in-out;
}

.h,
.hs {
    font-size: 25px;
}

.header {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}


/* nav */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.header__left {
    display: flex;
}

.header__text-logo {
    margin-left: 13px;
}

.header__list {
    display: flex;
    margin-left: 315px;
}

.header__item:not(:last-child) {
    margin-right: 25px;
    white-space: nowrap;
}

.header__button {
    margin-left: 30px;
}

.header__desc {
    white-space: nowrap;
}
.header__img {
    max-width: 60px;
    max-height: 60px;
}
/* .burger */
.burger {
    display: none;
}


.menu{
  position: absolute;
  width: 100%;
  background-color:beige;
  transform: translateX(-101%);
  transition: 1s ease-in-out;
}

.header__lis {
    min-height: 265px;
}


.animate{
  transform: translateX(0);
}

/* freedom */

.freedom {
    margin-top: 50px;
    display: flex;
}

.freedom__left {
    display: flex;
    flex-direction: column;
    padding: 100px 50px 40px 55px;
    justify-content: space-between;   
}

.freedom__img {
    max-width: 650px;
    max-height: 415px;
}

/* our */

.our {
    display: flex;
    padding-top: 50px;
}

.our__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 120px 80px 120px 80px;
}

.our__img {
    max-width: 570px;
    max-height: 480px;
}


.stand {
    display: flex;
    margin-top: 50px;

}

.stand__left {
    margin: auto auto;
    padding-right: 90px;
}

.stand__button {
    margin-top: 30px;
}

.mobile {
    display: none;
}

.stand__img {
    max-width: 780px;
    max-height: 330px;
}

/* document */

.document {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.document__link {
    color: white ;
    font-family: "btn";
    font-size: large;
}



/* user */

.user {
    display: flex;
}

.user__img {
    max-width: 200px;
    max-height: 200px;
    margin-left: 35px;
}


/* peoples */

.peoples {
    margin-top: 100px;
}

.peoples__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.peoples__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.peoples__item:not(:nth-child(3n)){
    margin-right: 40px;
}

.peoples__item:nth-child(n+4){
    margin-top: 85px;
}

.peoples__name{
    font-family: "btn";
    font-size: xx-large;
}

.peoples__heading {
    display: flex;
    justify-content: center;
}

/* help */

.help__imgs {
    width: inherit;
    overflow: hidden;
    background-size: cover;
    object-fit: cover;
}

/* trust */

.trust {
    margin-top: 122px;
}

.trust__top{
    display: flex;
    justify-content: space-between;
}

.trust__adress{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin: auto;
}

.sse {
    margin-top: 19px;
}

.trust__left {
    display: flex;
    align-items: center;
}

.trust__heading {
    margin-left: 5px;
}

.trust__right {
    display: flex;
    flex-direction: column;
}

.trust__line{
    width: 776px;
    height: 4px;
    background-color: black;
    margin: auto;
    margin-top: 25px;
}

.trust__description {
    margin-left: 45px;
}


.trust__down {
    margin-top: 45px;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}

.trust__adapt {
    display: none;
}
/* nav */

.footer__nav {
    display: flex;
    margin-top: 122px;
    align-items: center;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
}

.footer__left {
    display: flex;
}

.footer__list {
    display: flex;
}

.trust__dleft {
    display: flex;
    align-items: center;
}

.footer__item:not(:last-child) {
    margin-right: 55px;
}

.footer__img {
    margin: auto;
}

.footer__text-logo {
    margin-left: 22px;
    margin-right: 22px;
}


/* .footer__mobile */

.footer__mobile {
    display: none;
}


/* need to off */
.freedom__only-mobile,
.our__for-mobile {
    display: none;
}

@media (max-width: 1040px) {
    .our {
        display: none;
    }

    .container {
        padding: 0px 20px 0px 20px;
    }

    .freedom {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .freedom__left {
        padding-top: 20px;
    }
    .freedom__button {
        margin: auto;
    }

    /* our */
    .our__content {
        padding-top: 0;
    }

    /* nav */

    .header__list {
        margin-left: auto;
    }
}

@media (max-width: 415px) {
    .header__list {
        display: none;
    } 

    .header__button {
        display: none;
    }


    .freedom__img,
    .our__img,
    .stand__img {
        max-width: 370px;
        padding-right: 10px;
    }

    /* menu */

    .header__lis {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0; 
    }

    .header__iem {
        font-size: x-large;
        font-weight: bolder;
        margin-bottom: 30px;
    }

    /* burger */

    .burger {
        display: block;
    }
    

    .burger__icon {
        max-width: 30px;
        max-height: 30px;
    }



    .freedom {
        display: none;
    }

    .freedom__only-mobile {
        display: flex;
        flex-direction: column-reverse;
    }

    .om__content {
        display: flex;
        flex-direction: column;
        padding: 12px 9px 12px 18px;
        background-color: #D9D9D980;
    }

    .fis {
        padding: 0;
    }


    .our__for-mobile {
        display: flex;
    }

    .our__fmHeading {
        font-weight: 800;
        font-size: x-large;
        line-height: 19px;
        color: #000000;
    }

    .ring {
        height: 140px;
        transform: translateY(5px);
        align-items: center;
        margin-left: 15px;
    }

    .our__for-mobile {
        margin-top: 30px;
    }

    .our__fmContent {
        padding: 7px;
        background-color: #D9D9D980;
    }

    .our__fmRing {
        margin-top: 20px;
        display: flex;
    }

    .fmText {
        margin: 0;
        padding-left: 5px;
        font-size: 14px;
    }

    .fmImg {
        margin-top: 20px;
    }

    





    /* .our */
    .our {
        flex-direction: column;
    }

    .our__content {
        padding-bottom: 60px;
    }

    /* .stand */
    .stand {
        flex-direction: column;
    }
    .stand__left {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__nav {
        display: none;
    }

    .peoples__list {
        padding: 0;
    }

    .peoples__item {
        margin: auto;
    }

    .peoples__item:nth-child(n+4) {
        display: none;
    }

    .peoples__img {
        width: max-content;
    }

    .user {
        flex-direction: column;
    }

    .user__picture {
        margin: auto;
        transform: translateX(-30px);
    }

    /* .trust */
    .trust {
        display: none;
    }

    .footer__mobile {
        display: flex;
        flex-direction: column;
    }
    .footer__adapt-dt {
        font-size: smaller;
    }
}